.button {
    gap: 10px;
  }
  
  button {
    color: black; 
    border: 1px solid #ccc; 
    padding: 8px 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #dcdcdc; /* Slightly darker grey on hover */
  }
  